@import "tailwindcss";

:root {
  --background: #f8f9ff;
  --foreground: #0d1c2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  --color-secondary-fixed: #c5e7ff;
  --color-primary-container: #4eba8e;
  --color-surface-bright: #f8f9ff;
  --color-on-tertiary-fixed: #3c0700;
  --color-on-tertiary-container: #6f220f;
  --color-on-tertiary-fixed-variant: #7d2c18;
  --color-inverse-primary: #70daac;
  --color-tertiary-fixed-dim: #ffb4a2;
  --color-inverse-on-surface: #eaf1ff;
  --color-primary-fixed-dim: #70daac;
  --color-surface: #f8f9ff;
  --color-on-error: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-on-secondary-fixed-variant: #004c6a;
  --color-secondary: #00658c;
  --color-surface-variant: #d5e3fc;
  --color-tertiary-container: #f7896d;
  --color-surface-container-highest: #d5e3fc;
  --color-on-primary-fixed-variant: #005138;
  --color-on-surface-variant: #3e4943;
  --color-on-background: #0d1c2e;
  --color-surface-dim: #ccdbf3;
  --color-surface-container: #e6eeff;
  --color-surface-tint: #006c4c;
  --color-on-tertiary: #ffffff;
  --color-outline-variant: #bdcac1;
  --color-secondary-fixed-dim: #80d0ff;
  --color-tertiary-fixed: #ffdad2;
  --color-primary: #006c4c;
  --color-error-container: #ffdad6;
  --color-on-secondary-container: #005778;
  --color-outline: #6e7a72;
  --color-secondary-container: #77cdff;
  --color-primary-fixed: #8cf7c7;
  --color-surface-container-high: #dce9ff;
  --color-on-secondary-fixed: #001e2d;
  --color-inverse-surface: #233144;
  --color-on-primary-container: #004630;
  --color-on-primary: #ffffff;
  --color-on-surface: #0d1c2e;
  --color-tertiary: #9c432c;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-primary-fixed: #002114;
  --color-on-error-container: #93000a;
  --color-error: #ba1a1a;

  --spacing-gutter: 1rem;
  --spacing-margin-tablet: 1.5rem;
  --spacing-gutter-tablet: 1.25rem;
  --spacing-margin-desktop: 2.5rem;
  --spacing-space-sm: 0.5rem;
  --spacing-gutter-desktop: 1.5rem;
  --spacing-margin: 1rem;
  --spacing-space-xs: 0.25rem;
  --spacing-space-md: 1rem;
  --spacing-space-xl: 2rem;
  --spacing-space-lg: 1.5rem;

  --font-label-lg: "Plus Jakarta Sans", sans-serif;
  --font-title-md: "Be Vietnam Pro", sans-serif;
  --font-label-sm: "Plus Jakarta Sans", sans-serif;
  --font-headline-lg: "Plus Jakarta Sans", sans-serif;
  --font-headline-md: "Plus Jakarta Sans", sans-serif;
  --font-headline-sm: "Plus Jakarta Sans", sans-serif;
  --font-body-md: "Be Vietnam Pro", sans-serif;
  --font-headline-lg-mobile: "Plus Jakarta Sans", sans-serif;
  --font-body-sm: "Be Vietnam Pro", sans-serif;
  --font-display-mobile: "Plus Jakarta Sans", sans-serif;
  --font-body-lg: "Be Vietnam Pro", sans-serif;
  --font-label-md: "Plus Jakarta Sans", sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;

  --text-label-lg: 14px;
  --text-label-lg--line-height: 20px;
  --text-label-lg--letter-spacing: 0.01em;
  --text-label-lg--font-weight: 600;

  --text-title-md: 16px;
  --text-title-md--line-height: 24px;
  --text-title-md--font-weight: 600;

  --text-label-sm: 10px;
  --text-label-sm--line-height: 14px;
  --text-label-sm--letter-spacing: 0.04em;
  --text-label-sm--font-weight: 700;

  --text-headline-lg: 30px;
  --text-headline-lg--line-height: 38px;
  --text-headline-lg--letter-spacing: -0.01em;
  --text-headline-lg--font-weight: 700;

  --text-headline-md: 22px;
  --text-headline-md--line-height: 30px;
  --text-headline-md--font-weight: 600;

  --text-headline-sm: 18px;
  --text-headline-sm--line-height: 26px;
  --text-headline-sm--font-weight: 600;

  --text-body-md: 14px;
  --text-body-md--line-height: 22px;
  --text-body-md--font-weight: 400;

  --text-headline-lg-mobile: 24px;
  --text-headline-lg-mobile--line-height: 32px;
  --text-headline-lg-mobile--font-weight: 700;

  --text-body-sm: 12px;
  --text-body-sm--line-height: 18px;
  --text-body-sm--font-weight: 400;

  --text-display-mobile: 32px;
  --text-display-mobile--line-height: 40px;
  --text-display-mobile--letter-spacing: -0.01em;
  --text-display-mobile--font-weight: 700;

  --text-body-lg: 16px;
  --text-body-lg--line-height: 26px;
  --text-body-lg--font-weight: 400;

  --text-label-md: 12px;
  --text-label-md--line-height: 16px;
  --text-label-md--letter-spacing: 0.02em;
  --text-label-md--font-weight: 600;

  --text-display: 40px;
  --text-display--line-height: 52px;
  --text-display--letter-spacing: -0.02em;
  --text-display--font-weight: 700;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Be Vietnam Pro", Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}